USE [master]
GO
/****** Object:  Database [PAISES_DB]    Script Date: 29/08/2022 13:05:45 ******/
CREATE DATABASE [PAISES_DB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'PAISES_DB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\PAISES_DB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'PAISES_DB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\PAISES_DB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [PAISES_DB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [PAISES_DB]
GO
/****** Object:  Table [dbo].[DISCOS]    Script Date: 29/08/2022 13:05:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DISCOS](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Titulo] [varchar](100) NULL,
	[FechaLanzamiento] [smalldatetime] NULL,
	[CantidadCanciones] [int] NULL,
	[UrlImagenTapa] [varchar](200) NULL,
	[IdEstilo] [int] NULL,
	[IdTipoEdicion] [int] NULL,
 CONSTRAINT [PK_DISCOS] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ESTILOS]    Script Date: 29/08/2022 13:05:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ESTILOS](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Descripcion] [varchar](100) NULL,
 CONSTRAINT [PK_ESTILOS] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TIPOSEDICION]    Script Date: 29/08/2022 13:05:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TIPOSEDICION](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Descripcion] [varchar](50) NULL,
 CONSTRAINT [PK_TIPOSEDICION] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[DISCOS] ON 

INSERT [dbo].[DISCOS] ([Id], [Titulo], [FechaLanzamiento], [CantidadCanciones], [UrlImagenTapa], [IdEstilo], [IdTipoEdicion]) VALUES (6, N'Italia', CAST(N'2015-01-31T00:00:00' AS SmallDateTime), 200, N'https://thumbs.dreamstime.com/b/mapa-pol%C3%ADtico-altamente-detallado-de-italia-107070277.jpg', 5, 4)
INSERT [dbo].[DISCOS] ([Id], [Titulo], [FechaLanzamiento], [CantidadCanciones], [UrlImagenTapa], [IdEstilo], [IdTipoEdicion]) VALUES (11, N'Australia', CAST(N'2022-05-23T00:00:00' AS SmallDateTime), 3, N'https://wwwnc.cdc.gov/travel/images/destination-map-australia.png', 6, 5)
INSERT [dbo].[DISCOS] ([Id], [Titulo], [FechaLanzamiento], [CantidadCanciones], [UrlImagenTapa], [IdEstilo], [IdTipoEdicion]) VALUES (13, N'Estados Unidos', CAST(N'2021-01-20T00:00:00' AS SmallDateTime), 33, N'https://mapamundial.co/geografia/localizacion-de-Estados-Unidos.jpg', 7, 5)
SET IDENTITY_INSERT [dbo].[DISCOS] OFF
GO
SET IDENTITY_INSERT [dbo].[ESTILOS] ON 

INSERT [dbo].[ESTILOS] ([Id], [Descripcion]) VALUES (5, N'Euro')
INSERT [dbo].[ESTILOS] ([Id], [Descripcion]) VALUES (6, N'Dolar australiano')
INSERT [dbo].[ESTILOS] ([Id], [Descripcion]) VALUES (7, N'USD')
SET IDENTITY_INSERT [dbo].[ESTILOS] OFF
GO
SET IDENTITY_INSERT [dbo].[TIPOSEDICION] ON 

INSERT [dbo].[TIPOSEDICION] ([Id], [Descripcion]) VALUES (4, N'Italiano')
INSERT [dbo].[TIPOSEDICION] ([Id], [Descripcion]) VALUES (5, N'Ingles')
INSERT [dbo].[TIPOSEDICION] ([Id], [Descripcion]) VALUES (6, N'Portugues')
SET IDENTITY_INSERT [dbo].[TIPOSEDICION] OFF
GO
USE [master]
GO
