USE [master]
GO
/****** Object:  Database [DISCOSDB_U7]    Script Date: 23/09/2022 16:09:14 ******/
CREATE DATABASE [DISCOSDB_U7]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DISCOSDB_U7', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\DISCOSDB_U7.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'DISCOSDB_U7_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\DISCOSDB_U7_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DISCOSDB_U7].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DISCOSDB_U7]
GO
/****** Object:  Table [dbo].[DISCOS]    Script Date: 23/09/2022 16:09:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DISCOS](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Titulo] [varchar](100) NULL,
	[FechaLanzamiento] [smalldatetime] NULL,
	[CantidadCanciones] [int] NULL,
	[UrlImagenTapa] [varchar](200) NULL,
	[IdEstilo] [int] NULL,
	[IdTipoEdicion] [int] NULL,
 CONSTRAINT [PK_DISCOS] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ESTILOS]    Script Date: 23/09/2022 16:09:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ESTILOS](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Descripcion] [varchar](100) NULL,
 CONSTRAINT [PK_ESTILOS] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TIPOSEDICION]    Script Date: 23/09/2022 16:09:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TIPOSEDICION](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Descripcion] [varchar](50) NULL,
 CONSTRAINT [PK_TIPOSEDICION] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[DISCOS] ON 

INSERT [dbo].[DISCOS] ([Id], [Titulo], [FechaLanzamiento], [CantidadCanciones], [UrlImagenTapa], [IdEstilo], [IdTipoEdicion]) VALUES (2, N'Siempre es hoy', CAST(N'2002-01-01T00:00:00' AS SmallDateTime), 17, N'https://www.cmtv.com.ar/tapas-cd/ceratisiempre.jpg', 3, 3)
INSERT [dbo].[DISCOS] ([Id], [Titulo], [FechaLanzamiento], [CantidadCanciones], [UrlImagenTapa], [IdEstilo], [IdTipoEdicion]) VALUES (3, N'Pescado Rabioso 2', CAST(N'1973-01-13T00:00:00' AS SmallDateTime), 18, N'https://1.bp.blogspot.com/-m5UfTSYIlDI/XaBX76GD9LI/AAAAAAAANR0/R71Vtmaa4pgsqVoIf2N1-n-VS_NETanJQCLcBGAsYHQ/w1200-h630-p-k-no-nu/pescado-rabioso-2-lp-vinilo-doble-.jpg', 3, 3)
INSERT [dbo].[DISCOS] ([Id], [Titulo], [FechaLanzamiento], [CantidadCanciones], [UrlImagenTapa], [IdEstilo], [IdTipoEdicion]) VALUES (4, N'Apostrophe', CAST(N'1974-03-22T00:00:00' AS SmallDateTime), 9, N'http://1.bp.blogspot.com/_pzGHk_cLqsg/S8T2g2ZrRCI/AAAAAAAAAIk/P1yx4AB_6ro/s1600/Apostrophe-no-text_20080320_121325.jpg', 3, 3)
SET IDENTITY_INSERT [dbo].[DISCOS] OFF
GO
SET IDENTITY_INSERT [dbo].[ESTILOS] ON 

INSERT [dbo].[ESTILOS] ([Id], [Descripcion]) VALUES (1, N'Pop Punk')
INSERT [dbo].[ESTILOS] ([Id], [Descripcion]) VALUES (2, N'Pop')
INSERT [dbo].[ESTILOS] ([Id], [Descripcion]) VALUES (3, N'Rock')
SET IDENTITY_INSERT [dbo].[ESTILOS] OFF
GO
SET IDENTITY_INSERT [dbo].[TIPOSEDICION] ON 

INSERT [dbo].[TIPOSEDICION] ([Id], [Descripcion]) VALUES (1, N'Vinilo')
INSERT [dbo].[TIPOSEDICION] ([Id], [Descripcion]) VALUES (2, N'CD')
INSERT [dbo].[TIPOSEDICION] ([Id], [Descripcion]) VALUES (3, N'Tape')
SET IDENTITY_INSERT [dbo].[TIPOSEDICION] OFF
GO
USE [master]
GO
